/* 
Style Sheet for kwiatek.edu.pl

version: 1.0
last modified: 26.04.2018 by Matthias 'dArkyunn' Skowron
author: Matthias 'dArkyunn' Skowron
email: soon(tm)
website: less-soon(tm)
*/

@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700|Raleway:300,400,700|Roboto:300,400,700&subset=latin-ext');
body, head, :after, :before {
	margin: 0;
	padding: 0;
	font-size: 16px;
	line-height: 1.6;
	box-sizing: border-box;
	font-family: 'Lato', 'Roboto', 'Raleway', sans-serif;
	vertical-align: baseline;
	-webkit-user-select: none;
	user-select: none;
}

a.menuButton, a.menuButton:focus, a.menuButton:visited {
	position: fixed;
	left: 0;
	top: 17%;
	padding: 20px 25px;
	margin: 0;
	border-top-right-radius: 1.25rem;
	border-bottom-right-radius: 1.25rem;
	background-color: rgb(0, 144, 177);
	color: rgba(255, 255, 255, 1);
	font-size: 1.25rem;
	z-index: 999;
	transition: all 500ms ease-in-out;
}

a.menuButton:hover {
	box-shadow: -300px 0 0 0 #00657c inset;
}

a.accessBtn, a.accessBtn:focus, a.accessBtn:visited {
	position: fixed;
	right: 0;
	bottom: 0;
	padding: 20px 25px;
	margin: 0;
	background-color: rgb(0, 110, 134);
	color: rgba(255, 255, 255, 1);
	font-size: 1.35rem;
	z-index: 999;
	border-top-left-radius: 50%;
	transition: all 500ms ease-in-out;
}

a.accessBtn:hover {
	box-shadow: -300px 0 0 0 #004555 inset;
}

nav {
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 1000;
	top: 0;
	left: 0;
	background-color: #222;
	overflow-x: hidden;
	padding-top: 60px;
	transition: all 0.3s ease-in-out;
}

nav a, nav a:focus {
	padding: 8px 32px 8px 32px;
	margin: 0;
	text-decoration: none;
	font-size: 25px;
	color: #818181 !important;
	display: block;
	transition: 0.3s;
}

nav a:hover {
	color: #f1f1f1 !important;
}

nav .closebtn {
	position: absolute;
	top: 0;
	right: 10px;
	font-size: 36px;
	margin-left: 50px;
	padding: 8px;
	line-height: 1;
}

.dropdown {
	position: relative;
	transition: all 100ms ease;
}

.dropdownContent {
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	width: 100%;
	height: 0;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	z-index: 1;
}

.dropdownContent a {
	color: black;
	padding: 8px 8px 8px 32px;
	text-decoration: none;
	display: block;
}

.dropdownContent a:hover {
	color: #000 !important;
}

.dropdownContent-dropped {
	display: block;
	height: auto;
}

.dropdown-clicked {
	background-color: #f1f1f1;
}

.dropdown-clicked a:hover {
	color: #000 !important;
}

.sideSection {
	width: 100%;
	margin: auto;
	position: relative;
}

.sideSection-title {
	background-color: #f1f1f1;
	text-align: center;
	padding: 8px;
	width: 100%;
}

.sideSection a {
	padding: 8px !important;
}

.sideSection a:hover {
	color: #191919 !important;
}

.sideSection-content {
	background-color: #f9f9f9;
	width: 100%;
}

.sideSection-content p {
	margin-top: 0;
	margin-bottom: 0;
	color: #191919;
}

.fa-pull-right {
	height: 1.5em;
}

#content {
	transition: margin 0.3s ease-in-out;
}

header {
	width: 100%;
	position: relative;
}

div.title {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 100%;
	transform: translate(-50%, -50%);
	font-size: 2.5rem;
	text-align: center;
	font-family: 'Roboto', 'Raleway', 'Lato', sans-serif;
	color: #FFEE00;
	text-shadow: 5px 5px 0px #000;
	z-index: 2;
}

.countryEmblem {
	position: absolute;
	left: 10px;
	bottom: 15px;
	width: 100px;
	height: 117.667px;
}

.schoolEmblem {
	position: absolute;
	right: 10px;
	bottom: 15px;
	height: 100px;
	width: 100px;
}

div.title>div.row>span {
	color: #00BFFF;
}

h1 {
	font-size: 2.5rem;
}

img {
	max-width: 100%;
	height: auto;
}

[class*="col"].flex {
	display: flex;
	flex-direction: column;
	align-content: center;
	justify-content: center;
}

footer>div.footTop>div.row>[class*="col"].flex {
	flex-direction: row;
	align-content: center;
	justify-content: center;
}

[class*="col"].big-pad {
	padding: 30px 60px;
}

[class*="col"].left-pad {
	padding-left: 35px;
}

section:first-child {
	display: flex;
	align-content: center;
	justify-content: center;
	padding: 30px;
}

section:nth-child(3) {
	padding: 30px 60px;
	background-color: #00BEE8;
}

section:nth-child(3)>div.row.flex>div.col.med5>img {
	border: 10px solid #005c70;
	transition: all 200ms ease-out;
}

section:nth-child(3)>div.row.flex>div.col.med5>img:hover {
	border: 15px solid #005c70;
}

section:last-child {}

a, a:focus, a:visited {
	margin: 10px;
	text-decoration: none;
	color: #191919;
	outline: none;
}

a.btn {
	background-color: #FFEE00;
	font-size: 1.5rem;
	padding: 10px 30px;
	border-radius: 0.125em;
	text-transform: uppercase;
	transition: all 500ms ease-in-out;
	height: auto;
}

a.btn:hover {
	box-shadow: 400px 0 0 0 rgb(255, 198, 10) inset;
}

a.btn.btn-gutted {
	background-color: rgba(255, 255, 255, 0);
	border: 3px solid #eee;
	color: #eee;
	transition: all 100ms ease-out;
}

a.btn.btn-gutted:hover {
	box-shadow: 0 0 0 7px rgba(0, 0, 0, 0.7) inset;
}

div.promotion {
	text-align: center;
}

div.promotion>h2 {
	font-size: 2rem;
	color: rgba(255, 255, 255, 0.9);
}

p {
	font-weight: lighter;
	color: #fff;
	margin: 15px;
	padding: 10px;
	font-size: 1.05rem;
}

div.flex {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	text-align: center;
	vertical-align: baseline;
}

div.card {
	padding: 15px;
	margin: 10px;
	border: 1px solid rgba(0, 0, 0, 0.7);
}

h3 {
	font-size: 1.75rem;
}

span.infos {
	font-weight: lighter;
	font-size: 0.8rem;
	color: rgba(0, 0, 0, 0.5);
}

div.postContent {
	overflow: hidden;
}

div.postContent>p {
	color: rgba(0, 0, 0, 0.87);
	margin: 0px;
	padding: 10px;
	margin: 10px;
}

div.card>div.moreButton>a.btn.btn-gutted {
	margin: 10px;
	background-color: rgba(255, 255, 255, 0);
	border: 3px solid #111;
	color: #111;
	transition: all 100ms ease-out;
}

div.card>div.moreButton {
	display: flex;
	align-content: center;
	justify-content: center;
}

footer {
	width: 100%;
}

footer:after {
	clear: both;
}

footer>div.footTop {
	position: relative;
	background-color: #008edb;
	min-height: 200px;
}

footer>div.footTop a {
	margin: 0;
	color: #fff;
	transition: color 200ms ease-out;
}

footer>div.footTop a:hover {
	color: #ddd;
}

footer>div.footTop>.row>.col.med4 {
	user-select: text;
	-webkit-user-select: text;
}

.wrapper {
	display: flex;
	align-content: center;
	justify-content: center;
}

footer div img {
	width: 50%;
	height: 50%;
	padding: 5px;
}

footer>div.footBot {
	padding: 10px 100px;
	background-color: #0077b7;
	color: rgba(255, 255, 255, 0.87);
	font-size: 0.9rem;
}

h4 {
	font-size: 2rem;
	color: rgba(255, 255, 255, 0.9);
	text-align: left;
}

div.hidden {
	font-size: 2rem;
	color: rgba(255, 255, 255, 0);
	text-align: left;
}

div.leftText {
	display: flex;
	flex-direction: column;
	align-content: left;
	text-align: left;
}

div.rightText {
	display: flex;
	flex-direction: column;
	align-content: flex-end;
	text-align: right;
}

span.rightText {
	float: right;
}

span.rightText::after {
	clear: both;
}

footer>div.footBot>a {
	color: rgba(221, 221, 221, 0.7);
	margin: 0;
	transition: color 100ms ease-in-out;
}

footer>div.footBot>a:hover {
	color: rgba(221, 221, 221, 1);
}

.footTop>.row>.col.med4>p {
	padding: 5px;
	margin: 5px;
}

@media only screen and (max-width: 768px) {
	section:first-child {
		flex-direction: column;
	}
	div.title {
		font-size: 1.75rem;
	}
	h1 {
		font-size: 2rem;
	}
	span.rightText {
		float: initial;
		margin-left: 30px;
	}
	div.flex {
		display: block;
	}
}